@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Poppins:wght@300;400;600;700&display=swap');
@import url("http://fonts.cdnfonts.com/css/chomsky");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-left: 50px;
  margin-right: 50px;
}

